---
layout: default
title: Home
---
<img src="assets/profile_az.jpg" alt="profile" class="center" width="100%"> 
<script>
	var example = ['a senior', 'in Mather House', 'a dog person', 'a design enthusiast', 'a CS/WGS concentrator'];

	textSequence(0);
	function textSequence(i) {

		if (example.length > i) {
			setTimeout(function() {
				document.getElementById("sequence").innerHTML = example[i];
				textSequence(++i);
			}, 1000); // 1 second (milliseconds)

		} else if (example.length == i) { // recurse
			textSequence(0);
		}

	}
</script>
<h2 style="text-align: center"> Hi! My name is Amy. I'm <span id="sequence" style="color: rgb(116, 195, 237); opacity: 1;"></span>.
</h2>

<p style="text-align: center; margin-left: auto; margin-right:auto">
	I’m Amy, a rising senior at Harvard College living in <a href="https://mather.harvard.edu/">Mather House</a> and studying computer science & women gender studies
		with a secondary in education. I'm excited to be learning about electronics and building things with my own hands. 
		I hope that by the end of the semester, I will be comfortable entering fablabs, laser cutting, and 3D printing on my own!
</p>

<div class="container-fluid bg-3 text-center">
	<div class="row">
	  <div class="col-sm-4">
		<img src="assets/week+1.png" class="img-responsive margin" style="width:100%" alt="Sew">
		<!-- <h4><a href='./01_intro/index.html'>Week 1: Introduction</a></h4> -->
		<h4><a href=''>Broken Link</a></h4>
	  </div>
	  <div class="col-sm-4">
		<img src="assets/week+1.png" class="img-responsive margin" style="width:100%" alt="Sew">
		<h4><a href=''>Broken Link</a></h4>
	  </div>
	  <div class="col-sm-4">
		<img src="assets/week+1.png" class="img-responsive margin" style="width:100%" alt="Sew">
		<h4><a href=''>Broken Link</a></h4>
	  </div>
	</div>
  
	<!-- <div class="row">
	  <div class="col-sm-4">
		<img src="./01_intro/sew.png" class="img-responsive margin" style="width:100%" alt="Sew">
		<h4><a href=''>Broken Link</a></h4>
	  </div>
	  <div class="col-sm-4">
		<img src="./01_intro/sew.png" class="img-responsive margin" style="width:100%" alt="Sew">
		<h4><a href=''>Broken Link</a></h4>
	  </div>
	  <div class="col-sm-4">
		<img src="./01_intro/sew.png" class="img-responsive margin" style="width:100%" alt="Sew">
		<h4><a href=''>Broken Link</a></h4>
	  </div> -->
	<!-- </div> -->
  </div>
  
	
	
	
  </div>

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->